*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 375px;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  align-items: center;
}

header a {
  font-family: "Roboto Serif", serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 20px;
  gap: 12px;
  width: 375px;
  height: 590px;
  background: #1c1a19;
  background-image: url(images/Group.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.headline h1 {
  position: relative;
  width: 327px;
  font-family: "Crete Round", serif;
  font-size: 56px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.37px;
  text-align: left;
  color: #ff6b00;
  margin-bottom: 0;
}

.headline h2 {
  width: 327px;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
  display: flex;
  align-items: center;
  flex-grow: 0;
  font-family: "Roboto Serif", serif;
  font-style: normal;
}

.headline p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  height: 123px;
  color: #fff;
  margin: 10px 0 0 0;
}

.social-icons ul {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  list-style: none;
  align-items: center;
}

#shape1 {
  position: absolute;
  width: 20%;
  top: 580px;
  right: 0;
}

#shape2 {
  position: absolute;
  width: 8%;
  top: 580px;
  right: 40px;
}

#shape3 {
  position: absolute;
  width: 8%;
  top: 500px;
  right: -5px;
}

#shape4 {
  position: absolute;
  width: 4%;
  height: 50%;
  top: 610px;
  right: 60px;
}

.grid-container {
  width: 375px;
  display: grid;
  grid-template-rows: 20% 1% 33% 20% 3% 1% 10%;
  gap: 20px;
}

.recent-works {
  height: 83px;
  font-family: "Crete Round", serif;
  font-size: 30px;
  padding: 70px 20px;
}

.line {
  width: 327px;
}

.img-works {
  width: 327px;
  height: 237px;
  display: flex;
  padding: 20px;
}

.works-head h3 {
  font-family: "Crete Round", serif;
  height: 36px;
  align-items: center;
  font-size: 32px;
  display: flex;
  padding: 0 20px;
}

.works-head p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 10px;
  padding: 20px 20px;
  width: 327px;
}

.languages ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 327px;
  padding: 20px;
}

.visit a {
  position: relative;
  left: 20px;
  top: 20px;
  display: flex;
  padding: 10px;
  border: 1px #8993a4;
  width: 130px;
  color: #fff;
  background-color: #ff6b00;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.seeproject a {
  display: flex;
  padding: 10px;
  border: 10px solid #ff6b00;
  width: 327px;
  color: #fff;
  background-color: #ff6b00;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.experience ul li a {
  text-decoration: none;
  font-size: 22px;
  margin: 15px;
  display: block;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
}

.projlang ul li a {
  text-decoration: none;
  border: 1px solid #8993a4;
  color: #fff;
  padding: 10px 12px 10px 12px;
  background-color: rgba(255, 255, 255, 0.24);
}

.languages .langul a {
  text-decoration: none;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  color: black;
}

.project,
.project1,
.project2,
.project3,
.project4,
.project5 {
  width: 327px;
  height: 386px;
  background-image: linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(./images/Img\ Placeholderproj.svg);
  display: grid;
  grid-template-rows: 20% 40% 9% 30%;
  gap: 20px;
}

.project {
  margin-left: 20px;
}

.project1 {
  position: relative;
  top: -60px;
}

.project2 {
  position: relative;
  top: -60px;
}

.project3 {
  position: relative;
  top: -60px;
}

.project4 {
  position: relative;
  top: -60px;
}

.project5 {
  position: relative;
  top: -60px;
}

.text1 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", serif;
  color: #fff;
  padding-top: 50px;
  padding-left: 10px;
}

.text2 {
  width: 301px;
  height: 91px;
  font-family: "Inter", sans-serif;
  color: #fff;
  padding-top: 20px;
  padding-left: 10px;
}

.projlang {
  justify-content: space-between;
  list-style: none;
  width: 327px;
  display: flex;
}

.projlang ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 5px;
}

.projlang ul li {
  padding: 5px;
  height: auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 30px;
  gap: 12px;
  width: 375px;
  height: 1451px;
  background: #1c1a19;
  background-image: url(images/images-self/about-me1.png);
  background-repeat: no-repeat;
  background-position: top 350px right;
  position: relative;
  left: -20px;
  top: 40px;
}

.about-me h1 {
  width: 327px;
  font-family: "Crete Round", serif;
  font-size: 72px;
  font-weight: 400;
  color: #ff6b00;
}

.details {
  width: 327px;
  height: 148px;
  position: relative;
  top: 24px;
  font-family: "Inter", sans-serif;
  font-style: regular;
  font-size: 16px;
  color: #f4f5f7;
}

.resume .res {
  display: flex;
  padding: 10px;
  border: 1px solid #ff6b00;
  width: 150px;
  color: #fff;
  background-color: #ff6b00;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.about-me-img {
  position: relative;
  top: 160px;
}

.experience {
  position: relative;
  top: 230px;
}

.experience ul li {
  width: 280px;
  list-style: none;
  text-align: center;
  display: inline;
}

.experience ul li h4 {
  font-size: 25px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.experience ul li img {
  position: relative;
  top: 35px;
}

.form-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 906px;
  padding: 120px 10px;
}

.form-area .creator h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-weight: 700px;
  font-size: 32px;
  font-style: normal;
  color: #172b4d;
  line-height: 44px;
  margin-bottom: 15%;
}

textarea {
  width: 327px;
  height: 114px;
  margin-top: -20px;
  border: none;
  background-color: #fbf8f7;
  padding-top: 10px;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #3c3a39;
}

.field {
  border-style: none;
}

.field input {
  width: 327px;
  height: 18px;
  padding: 20px 0;
  border-style: none;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 40px;
}

form button {
  width: 131px;
  height: 48px;
  align-content: center;
  position: relative;
  top: 25px;
  left: 90px;
  background-color: #ff6b00;
  border: 2px solid #ff6b00;
}

form button:hover {
  border-color: green;
}

form button h5 {
  font-family: "Inter", sans-serif;
  font-weight: 700px;
  font-size: 17px;
  color: #fff;
}

.form-area hr {
  width: 375px;
  height: 1px;
  position: relative;
  top: 125px;
  left: -30px;
}

.social-icons2 ul {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  list-style: none;
  align-items: center;
  position: relative;
  top: 150px;
  left: 60px;
}

.hr2 {
  width: 134px;
  height: 5px;
  position: relative;
  top: 180px;
  left: 80px;
}

textarea:hover {
  border: 1px solid blue;
}
